body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    margin-top: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

a.navlink {
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

nav {
    margin-bottom: 15px;
}

a.navlink.dellink {
    position: absolute;
    right: 25%;
}

a.navlink.updatelink {
    position: absolute;
    right: 32%;
}

h2 {
    margin-bottom: 20px;
}

.AddTeacherForm,.UpdateTeacher input {
    max-width: 280px;
    margin-bottom: 10px;
    display: block;
    width: 200px;
}

.AddTeacherForm,.UpdateTeacher input[type="submit"] {
    margin-top: 20px;
    padding: 3px;
}